html, body {
  scroll-behavior: smooth;
  transition: 0.2s;
}
.jumbotron.first-jumbtrn {
  background: url("https://source.unsplash.com/gV_0WlhNG1I/1920x1080");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.jumbotron.first-jumbtrn:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.jumbotron.first-jumbtrn > div {
  position: relative;
  z-index: 2;
}
.jumbotron.first-jumbtrn > .container > .row > .card-form {
  margin-bottom: -120px;
}
.jumbotron.jumbtrn-footer > .container > .row > .col-6 > ul > li {
  list-style: none;
}
.jumbotron.jumbtrn-footer > .container > .row > .col-6 > ul > li > a {
  color: #ffffff;
}

@media (max-width: 420px) {
  .jumbotron.first-jumbtrn > .container > .row > .card-form {
    margin-bottom: 0;
  }
  .material-icons {
    font-size: 40px !important;
  }
}

@media (min-width: 421px) and (max-width: 1023px) {
  .jumbotron.first-jumbtrn > .container > .row > .card-form {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .material-icons {
    font-size: 120px !important;
  }
}
